<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<input matInput placeholder="frames" name="game.frames "[(ngModel)]="game.frames">
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Player</mat-label>
			<mat-select placeholder="Player"   [compareWith]="compareFn"  [(ngModel)]="game.Player">
		    	<mat-option name="game.Player" ngDefaultControl  
		    		*ngFor="let player of players"		    		 
		    		[value]="player._id">
		      		{{player.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
            <button 
		    (click)="updateGame(game.frames, game.Player)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
