<h5>Base List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let base of bases" style="text-align:center">
			<td style="vertical-align:middle"><a [routerLink]="['/editBase', base._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteBase(base._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
